Babel>=2.15.0
celery>=5.4.0
colander>=2.0
deform>=2.0.15
gunicorn>=22.0.0
paramiko>=3.4.0
Pillow>=10.0.0
psycopg2-binary>=2.9.9
PyYAML>=6.0.1
pyramid==2.0.2
pyramid-debugtoolbar>=4.12.1
pyramid-chameleon>=0.3
pyramid-mailer>=0.15.1
repoze.sendmail>=4.4.1
SQLAlchemy>=1.4,<2.0
transaction>=5.0
waitress>=3.0.0
