body {
    font-family: Arial;
    color: #000;
    margin: 0px;
    padding: 0px;
    background: url(/static/images/bodyBg.jpg) repeat-x;
}
a {
    color: #2F2F2F;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px dotted #2f2f2f;
}
.container {
    width: 1004px;
    margin: 0px auto;
}
.top {
    margin-bottom: 5px;
    border-bottom: 1px solid #a21c1d;
}
.top H1, .top H2 {
    float: left;
}
.top H1 A:hover {
    border: 0px;
}
.top H1 {
    margin: 12px 0px 0px 12px;
}
.top H2 {
    margin: 52px 0px 0px 30px;
    font-size: 110%;
}
.top H1 A {
    display: block;
    width: 78px;
    height: 73px;
    background: url(/static/images/logo_scielo_small.png) no-repeat;
}
.top H1 A SPAN {
    display: none;
}
.middle .leftCol, .contentCol {
    float: left;
}
.middle .leftCol {
    width: 60px;
    margin-right: 20px;
}
.middle .contentCol {
    width: 800px;
}
.breadcrumb {
    font-size: 80%;
}
.breadcrumb A {
    color: #A21C1D;
    font-weight: bold;
    font-size: 90%;
}
.bookDetail {
    margin-top: 12px;
    font-size: 11px;
}
.previewBookDetail {
    font-size: 11px;
}
.bookDetail H3 {
    font-size: 150%;
    margin: 0px;
}
.bookDetail H4 {
    font-size: 150%;
    margin: 0px;
}
.metadata {
    margin: 6px 0px;
}
.thumb {
    text-align: center;
    float: left;
}
.thumb img {
    padding: 0px 15px;
}
.metadata, .metadata DT, .metadata DD {
    float: left;
}
.metadata DT {
    clear: left;
    color: #666
}
.metadata DD {
    margin-left: 4px;
    font-weight: bold;
}

.actions {
    clear: both;
    margin-top: 10px;
}

.actions div {
    float: left;
    padding: 0px 2px 2px 20px;
    margin: 10px;
}
.preview, .chapterPreview {
    background: url(/static/images/preview.png) top left no-repeat;
    padding: 0px 2px 2px 20px;
}
.permalink {
    background: url(/static/images/link.png) top left no-repeat;
}
#thePermalink {
    margin: 0px !important;
    background: #CCCCCC;
    border: 1px solid #666666;
    float: none;
    position: absolute;
    padding: 6px;
}
#thePermalink INPUT {
    width: 300px;
    border: 1px solid #666;
}
.boxes_hidden {
    display: none;
}
.boxes_visible {
    display: block;
}
.closeWindow {
    float: right;
    margin-bottom: 4px;
    background: url(/static/images/close.gif) no-repeat right;
    padding-right: 14px;
}
.closeWindow:hover {
    border-bottom: none;
    background: url(/static/images/close_hover.gif) no-repeat right;
    color: #FFF;
}
.tags {
    background: url(/static/images/tag.gif) top left no-repeat;
}
.download fieldset {
    float: right;
    width: 180px;
    margin: 0px 20px 0px 20px;
    border: 0px;
}
.download fieldset DIV {
    border-bottom: 1px solid #ccc;
}
.download legend {
    font-weight: bold;
    font-size: 13px;
}
.PDF {
    background: url(/static/images/pdf.gif) top left no-repeat;
}
.ePub {
    background: url(/static/images/epub.gif) top left no-repeat;
}
.status-true {
    background: url(/static/images/icon-yes.gif) top left no-repeat;    
}
.status-false {
    background: url(/static/images/icon-no.gif) top left no-repeat;
}
.PDF, .ePub, .status-true, .status-false {
    padding: 3px 2px 2px 20px;
    margin: 0px 0px 4px 0px;
}
.tableContents {
    width: 580px;
    clear: both;
    margin: 20px 5px;
}
div STRONG {
    margin: 6px 0px;
    font-size: 120%;
}
.tablePanel {
    margin: 20px 5px;
    width: 100%;
}
.tableContents TABLE {
    width: 100%;
}
.tableContents TABLE TD, .tablePanel TD {
    padding: 4px 4px;
    border-bottom: 1px solid #ccc;
}
.tablePanel TD {
    text-align: center;
    vertical-align: middle;
    text-align:left;
}
.previewBook {
    width: 920px;
    margin: 20px auto 30px auto;
    padding: 12px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #ABABAB;
    background: #EFEFEF;
}
.previewBook H3 {
    margin: 6px 0px
}
TD.chpTitle {
    font-weight: bold;
}
.TOC_preview {
    float: left;
    width: 190px;
}
.TOC_preview UL {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}
.TOC_preview LI {
    padding: 0px 0 4px 14px;
}
.TOC_preview LI.bookmark {
    background: url(/static/images/bookmark.gif) no-repeat 0px 6px;
    padding-left: 14px;
}
.TOC_preview LI A {
    font-size: 70%;
}
.spacer {
   clear: both;
}
.player {
   float: left;
   width: 720px;
   text-align: center;
}
#form_language {
   text-align: right;
}
#form_language .selected_language {
   font-weight: bold;
}
#form_language UL LI {
   display: inline;
   font-size: 70%;
}
.messages {
    text-align: center;
    padding: 2px 0;
}
.notice {
    background-color: #FFF1A8;
    text-align: center;
    width: auto;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 80%;
}
.actions li {
    display: inline;
}
.edit a, .add a{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin-left: .5em;
    color: #A21C1D;
}
.book-parts, .synopsis, .evaluation-info {
    margin-top: 20px;
}